<%= polaris_page(title: "Settings page") do %>
  <%= polaris_card do %>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac lectus elit. Integer ullamcorper, odio vel volutpat finibus, mauris ante tristique magna, vel lobortis sem ante eu eros. Nulla facilisi. Sed venenatis arcu ut odio ullamcorper tempor. Sed euismod ullamcorper neque, vitae posuere felis auctor sit amet. Ut vulputate, eros et bibendum egestas, lectus lorem cursus velit, non interdum nibh tortor id magna. Proin consectetur dolor id fringilla varius.
    </p>
  <% end %>
<% end %>
